.texte{
  
  padding : 50px;
  padding-top: 10px;
  padding-bottom: 40px;
  background-color: #F5F5F5;;

}

#formulaire_contact{
	margin: 10px;
	margin-top: 0px;
	padding-top: 0px;
	padding-bottom: 10px;

}


.texte input {
	width: 405px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    /* Pour harmoniser l'apparence des bordures des champs textuels */
   border: 1px solid #CCC;
}

input #nom {
	width : 380px;
}

#connexion {
  
	margin: 0 auto;
	width: 400px;
	/* Pour voir les limites du formulaire */
	padding: 1em;
	border: 1px solid #CCC;
	border-radius: 1em;

	padding : 50px;
	padding-bottom: 30px;
	margin-bottom: 40px;
	margin-top: 40px;
	
}

.button {

	text-align: right;

}

#message {
	width: 100%;
}
